<!-- contact form -->
{% extends 'base.html' %}

{% block body %}
   

<div class="container" id="con">
     
    <h2 class="text-center text-light py-5" style="color: rgb(206, 235, 44);">Contact-Us</h2>
    <div class="row d-flex justify-content-center mt-1">
      <div class="col-6">
  <form method="post" class = "was-validated">
      {% csrf_token %}
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col-6">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" name = 'First_name' placeholder="First name" required/>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" name = 'Last_name' placeholder="Last name" required/>
        </div>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" id="form3Example3" class="form-control" name = 'Address' placeholder="Address" required/>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example4" class="form-control" name ='Email_Address' placeholder="Email Address" required/>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example4" class="form-control" name = 'Phone' placeholder="Phone" required/>
    </div>

    <div class="form-outline mb-4">
      <textarea class="form-control" id="form6Example7" rows="4" name = 'Message' placeholder="Message" required></textarea>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-danger  mb-4">Submit</button>
   
    </div>
  </form>
      </div>
    </div>
   </div>
  </div>
  {% endblock %}