<!-- card-item -->
{% extends 'base.html' %}

{% block body %}
<div class="container" id="pro">
    <h2 class="text-center text-light pt-5">Products</h2>
    <div class="row d-flex carbod">
        {% for item in pro %}
      <div class="col-md-3 mt-5">
        <div class="card">
          <img class="card-img-top" src="{{item.proimg}}" alt="" width="100%" height="200px">
           <div class="card-body text-center">
             <h4 class="card-title">{{item.name}}</h4>
             <p class="card-text">{{item.price}}</p> 
             <a href="{% url 'acces:detail' item.id %}" class="btn btn-dark">details</a>
           </div>
        </div>
      </div>
      
          {% endfor %}

    </div>
   </div>   
   {% endblock %}